<div class="indexbody container">
    <div class="row">
        <h1 class="col-md-12" style="margin-left: 12px" >Gallery</h1>
    </div>

        <a href="/users/<%= current_user.id %>" class="indexbtn">My Gallery --></a>

<div class="row">
    <% @gallery.each do |gallery| %>
        <div class="imagebox col-md-12 col-lg-12">
            <p class="card-title"><%= gallery.title %>:</p>

        
            <a class="imageindex card-img" href="/galleries/<%= gallery.id %>">
                <%= image_tag gallery.image.url(:thumb) if gallery.image_url %>
            </a>    
            <p class="footer">By <%= gallery.user.name %></p>
        
        </div>
    <% end %>
</div>
<br/>
</div>


