<h1><%=@gallery.title%></h1>
 <%= image_tag @gallery.image.url %>
 <br/>
<%= link_to "EDIT", edit_gallery_path(@gallery) %>| 
  <%= link_to "DELETE",gallery_path(@gallery), 
            method: :delete,
            data:{confirm:"ARE YOU SURE?"}%> |
<%= link_to "HOME", galleries_path %>